.running-goal {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    gap: 2rem;
}

.running-goal .graph {
    height: 400px;
    width: 40%;

    border-radius: 10px;
    padding: 1rem 2.2rem 2rem 2.2rem;
    background-color: white;
}

.dot {
    border-radius: 50%;
    height: 0.5rem;
    width: 0.5rem;
}

.running-goal .header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.running-goal .header .container {
    display: flex;
    flex-direction: row;
    gap: 0.4rem;
    align-items: center;
}

.container .header-title {
    font-family: 'Inter';
    font-size: 1.8rem;
    font-weight: 600;
    color: #0B23F4;
}

.container .header-title2 {
    font-family: 'Inter';
    font-weight: 500;
    color: #B6BDFC;
}

.header-subtitle {
    font-family: 'Inter';
    font-size: 0.8rem;
    color: #707070;
}

.stats {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex: 1;
}

.stats .duration,
.stats .distance {
    display: flex;
    flex-direction: column;
    padding: 1.2rem 1.9rem;
    background-color: white;
    border-radius: 10px;
    gap: 1.15rem;
}

.stats .duration .title,
.stats .distance .title {
    font-family: 'Inter';
    font-size: 0.8rem;
    color: #707070;
}

.stats .duration .content,
.stats .distance .content {
    font-family: 'Inter';
}

.duration .content {
    color: #B6BDFC;
}

.distance .content {
    color: #FCC1B6;
}

.duration .content .highlight {
    font-size: 1.4rem;
    color: #0B23F4;
}

.distance .content .highlight {
    font-size: 1.4rem;
    color: #F4320B;
}